//Google Fonts imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');

//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Font Weight
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Font Sizes
$xxxx-large: 8rem;
$xxx-large: 6.25rem;
$xx-large: 4.5rem;
$x-large: 1.25rem;
$large: 1.15rem;
$medium: 1rem;
$small: .9rem;
$x-small: .75rem;