.barbershop{
    .navbar{
        background-color: $eerie-black;
        &__list {
            .navbar__link{
                color: $white;
                &--active{
                    color: $spanish-pink;
                }
            }
        }
    }
    .header{
        background-image: url(../../assets/images/post-image.jpg);
        background-size: cover;
        min-height: 90vh;
        align-items: center;
        position: relative;
        display: flex;
        &__title{
            color: white;
            font-family: $playfair;
            margin: 17% auto 25%;
            text-shadow: 0 3px 6px rgba(0,0,0,.2);
            font-size: $xx-large;
            max-width: 60%;
        }
        &__icon{
            display: block;
            margin: 0 auto;
        }
    }
    
}
